<ion-content class="body">
  <ion-card [class.expand]="isRegister">
    <ion-card-header>
      <ion-card-title>{{ isRegister ? 'Register' : 'Login' }}</ion-card-title>
      <ion-card-subtitle>{{ isRegister ? 'Fill the registration form' : 'Enter your login details' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Common fields for both Login and Register -->
      <ion-item *ngIf="!isRegister">
        <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="userData.email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!isRegister">
        <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="userData.password"></ion-input>
      </ion-item>

      <!-- Additional fields for registration -->
      <div *ngIf="isRegister">
        <ion-item>
          <ion-input label="Name" labelPlacement="floating" placeholder="Enter your name" [(ngModel)]="userData.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Surname" labelPlacement="floating" placeholder="Enter your surname" [(ngModel)]="userData.surname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Address" labelPlacement="floating" placeholder="Enter your address" [(ngModel)]="userData.address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="userData.password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirm Password" labelPlacement="floating" placeholder="Confirm password" [(ngModel)]="userData.confirmPassword"></ion-input>
        </ion-item>
      </div>

      <!-- Login/Register button changes based on mode -->
      <ion-button expand="full" (click)="submitForm()">{{ isRegister ? 'Register' : 'Login' }}</ion-button>

      <!-- Checkbox to toggle between Login and Register -->
      <ion-item lines="none">
        <ion-label>Register</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="isRegister"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
